body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--text-main);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  font-family: Lacquer;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img{
  user-select: none;
}
nav {
  font-family: Lacquer;
}

:root {
  --off-white: #eeeeee;
  --bg-main: #f0e3d3;
  --text-main: #9b7e5b;
  --btn-main: #dbbb96;
}

#carnet {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

/* Fonts */

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.listeNoms{
  overflow-y: auto;
  -webkit-tap-highlight-color: blue;

  
}

.papier{
  background-image: url(./img/papier.png);
  color:black;
  user-select: none;
  
}

.papier{
  background-image: url(./img/papier.png);
  color:black;
  user-select: none;
  
}

#box img:last-child.boxShake {
  animation: shaking 0.35s infinite;
}

@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
